<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dadawanie kontrahenta</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.bootstrap4.css}" rel="stylesheet">

</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:replace="navBar :: nav"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Dodaj Kontrachenta</div>
            <div class="card-body">

<h1> Formularz dodawania nowego kontrahenta</h1>
<form th:action="@{(${returnTo} ? 'add?returnTo=' + ${returnTo}: 'add')}" th:object="${addContractor}" method="post">
    Skócona nazwa firmy:
    <input type="text" th:field="*{shortCompanyName}"/><br/>
    Pełna nazwa firmy:
    <input type="text" th:field="*{fullCompanyName}"/><br/>
    Wprowadź nip:
    <input type="text" th:field="*{nip}"/><br/>
    Wprowadź regon:
    <input type="text" th:field="*{regon}"/><br/>
    Podaj ulicę:
    <input type="text" th:field="*{street}"/><br/>
    Podaj kod pocztowy:
    <input type="text" th:field="*{postCode}"/><br/>
    Podaj miasto:
    <input type="text" th:field="*{city}"/><br/>
    Podaj kraj:
    <input type="text" th:field="*{country}"/><br/>
    Wprowadź numer telefonu:
    <input type="text" th:field="*{telephoneNumber}"/><br/>
    Wprowadź email:
    <input type="text" th:field="*{email}"/><br/>
    <button type="submit">Zapisz</button>
</form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/sb-admin.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
</body>
</html>