<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dadawanie faktury kosztowej</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>

<center> <b><h1> Dodawanie faktury kosztowej</h1></b> </center>

<center>
<form th:action="@{add}" th:object="${addCostInvoice}" method="post">

    Wybierz kontrahenta:
    <select th:field="*{contractorId}">
        <option th:each="contractor : ${contractorList}" th:value="${contractor.id}"
                th:text="${contractor.nip}"></option>
    </select><br/>
    <a th:href="@{/contractor/addContractor?returnTo=/costInvoice/addCostInvoice}">dodaj kontrahenta</a>
    <br/>
    Numer faktury:
    <input type="text" th:field="*{invoiceNumber}"/><br/>
    Data transakcji:
    <input type="text" id="exampleConfirmPassword" th:field="*{date}"/><br/>
    Wartość netto:
    <input type="text" th:field="*{netValue}"/><br/>
    Stawka VAT:
    <select th:field="*{vatValue}">
        <option value="23">23%</option>
        <option value="8">8%</option>
        <option value="5">5%</option>
        <option value="0"> zw </option>
    </select><br/>
    Wybierz rodzaj odliczenia:
    <select th:field="*{invoiceType}">
        <option value="True">pełny VAT</option>
        <option value="False">50% VAT</option>
    </select><br/>

    <button type="submit">Zatwierdź</button>

</form>
</center>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>

</body>
</html>