<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista kontrachentów</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.bootstrap4.css}" rel="stylesheet">

    <!--<script type="text/javascript">-->
        <!--//<![CDATA[-->
        <!--window.onload = init;-->
        <!--function init() {-->
            <!--document.dates.month.options[new Date().getMonth()].selected = true;-->
        <!--}-->

        <!--//]]>-->
    <!--</script>-->
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:replace="navBar :: nav"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Lista Kontrachentów</div>
            <div class="card-body">
                <div style="display: inline-block">
                <div>
                    <a class="btn btn-primary" th:href="@{/salesInvoice/addSalesInvoice?returnTo=routing}" style="margin-bottom:20px;">
                        Dodaj fakturę zakupową</a>
                    <a class="btn btn-primary" th:href="@{/costInvoice/addCostInvoice?returnTo=routing}" style="margin-bottom:20px;">
                     Dodaj fakturę sprzedażową</a>
                </div>
                <form name="dates">
                    <select name="month">
                        <option th:value="1">Styczeń</option>
                        <option th:value="2">Luty</option>
                        <option th:value="3">Marzec</option>
                        <option th:value="4">Kwiecień</option>
                        <option th:value="5">Maj</option>
                        <option th:value="6">Czerwiec</option>
                        <option th:value="7">Lipiec</option>
                        <option th:value="8">Sierpień</option>
                        <option th:value="9">Wrzesień</option>
                        <option th:value="10">Październik</option>
                        <option th:value="11">Listopad</option>
                        <option th:value="12">Grudzień</option>
                    </select>
                    <select name="year">
                        <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), 1980)}"
                                th:value="${year}" th:text="${year}">
                        </option>
                    </select>
                    <button class="btn btn-primary" type="submit">Pokaż</button>
                </form>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-bordered smaller" width="100%" cellspacing="0" style="text-align: center;">

                            <thead>
                            <tr style="font-weight: bold;">
                                <td>L.p.</td>
                                <td>Nr. dowodu, data</td>
                                <td>Kontrachent</td>
                                <td>Wartość sprzedaży towarów i usług</td>
                                <td>Pozostałe przychody</td>
                                <td>Razem przychodów</td>
                                <td>Zakup tow. i materiałów</td>
                                <td>Koszt ub. zakupów</td>
                                <td>Wynagrodzenie w got.</td>
                                <td>Pozostałe wydatki</td>
                                <td>Razem wydatki</td>
                                <td>Inne</td>
                                <td>Uwagi</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="3"> Przychody</td>
                                <td colspan="6">Wydatki</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>-7-</td>
                                <td>-8-</td>
                                <td>-9-</td>
                                <td>-10-</td>
                                <td>-11-</td>
                                <td>-12-</td>
                                <td>-13-</td>
                                <td>-14-</td>
                                <td>-15-</td>
                                <td>-16-</td>
                            </tr>
                            </thead>
                            <div th:if="${costInvoices.size()!=0 || salesInvoices.size()!=0}">
                            <tbody>
                            <tr th:each="costInvoice : ${costInvoices}">
                                <td>1</td>
                                <td th:text="${costInvoice.getInvoiceNumber() + ', ' + costInvoice.getDate()}">-</td>
                                <td th:text="${costInvoice.getContractorEntity().getShortContractorName() + ', '
                                 + costInvoice.getContractorEntity().getNip()}">Kontrachent</td>
                                <td th:text="${costInvoice.getNetValue()}">--</td>
                                <td>--</td>
                                <td th:text="${costInvoice.getNetValue()}">--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            <tr th:each="salesInvoice : ${salesInvoices}">
                                <td></td>
                                <td th:text="${salesInvoice.getInvoiceNumber() + ', ' + salesInvoice.getDate()}">-</td>
                                <td th:text="${salesInvoice.getContractorEntity().getShortContractorName() + ', '
                                 + salesInvoice.getContractorEntity().getNip()}">Kontrachent</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td th:text="${salesInvoice.getNetValue()}">--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td th:text="${salesInvoice.getNetValue()}">--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            </tbody>
                            </div>
                            <tfoot style="font-weight: bold;">
                            <tr>
                                <td colspan="3">Suma miesiąca:</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td colspan="3">Przeniesienie z poprzedniego miesiąca:</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td colspan="3">Razem od początku roku:</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>


                            </tfoot>
                        </table>
            </div>
            </div>
        </div>
    </div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © SDA 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Czy opuścić stronę?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Czy napewno chcesz się wylogować?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                    <a class="btn btn-primary" href="/login">Wyloguj</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/sb-admin.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
</body>
</html>