<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Główny</title>
</head>
<body>
<a href="#">Panel Główny</a><br/>
<a href="#">Dodaj fakturę zakupową</a><br/>
<a href="#">Dodaj fakturę sprzedażową</a><br/>
<a href="#">Książka</a><br/>
<a href="#">Ewidencja</a>
<a href="#">Kontrachent</a>
<a href="#">Ewidencja ZUS</a>
<a href="#">Ustawienia</a>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>