<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja faktury sprzedażowej</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.bootstrap4.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:replace="navBar :: nav"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>Edycja faktury sprzedażowej</div>
            <div class="card-body">
                <form th:action="@{/salesInvoice/edit}" th:object="${editSaleInvoice}" method="post">
                    <input type="hidden" name="id" th:value="${currentSaleInvoice.id}"/>

                    Wybierz kontrahenta:
                    <select name="contractorId" th:value="${currentSaleInvoice.contractorId}">
                        <option th:each="contractor : ${contractorList}" th:value="${contractor.id}"
                                th:text="${contractor.nip}"></option>
                    </select><br/>
                    <a th:href="@{/contractor/addContractor?returnTo=/costInvoice/editCostInvoice}">dodaj kontrahenta</a>
                    <br/>
                    Numer faktury:
                    <input type="text" name="invoiceNumber" th:value="${currentSaleInvoice.invoiceNumber}"/><br/>
                    Opis faktury:
                    <input type="text" name="desc" th:value="${currentSaleInvoice.desc}"/><br/>
                    Data transakcji:
                    <input type="text" id="exampleConfirmPassword" th:field="*{date}"/><br/>
                    Wartość netto:
                    <input type="number" name="netValue" th:value="${currentSaleInvoice.netValue}"/><br/>
                    Stawka VAT:
                    <select type="number" th:field="*{vatValue}">
                        <option value="23">23%</option>
                        <option value="8">8%</option>
                        <option value="5">5%</option>
                        <option value="0"> zw </option>
                    </select><br/>

                    <button type="submit">Zapisz</button>
                </form>
            </div>
        </div>

    </div>

</div>

<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © SDA 2018</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Czy opuścić stronę?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Czy napewno chcesz się wylogować?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <a class="btn btn-primary" href="/login">Wyloguj</a>
            </div>
        </div>
    </div>
</div>
</div>

<script th:src="@{/js/sb-admin.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>

</body>
</html>