<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz logowania</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<section id="login">
    <h1 id="loginH1">Logowanie</h1>
    <hr/>
    <form th:action="@{/login}" method="post" id="loginForm">
    <label> User Name : <input class="loginInput" type="text" name="username"/> </label><br/>
    <label> Password: <input class="loginInput" type="password" name="password"/> </label><br/>
        <button type="submit" id="loginButton">Zaloguj</button>
</form>
</section>
</body>
</html>