<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body class="bg-dark">
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Formularz rejestracyjny</div>
        <div class="card-body">
            <form action="#" th:action="@{add}" th:object="${createUserForm}" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">Imię:</label>
                            <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Wprowadź imię" th:field="*{firstName}">
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="hasError">Imię nie może być puste</span>

                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Nazwisko:</label>
                            <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Wprowadź nazwisko" th:field="*{lastName}">
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="hasError">Imię nie może być puste</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adres e-mail</label>
                    <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="hasError">Email nie może być pusty</span>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1">Hasło</label>
                            <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Hasło" th:field="*{password}">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="hasError">Hasło nie może być puste</span>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleConfirmPassword">Data urodzenia</label>
                            <input class="form-control" id="exampleConfirmPassword" type="text" placeholder="Data urodzenia" th:field="*{birthDate}">
                            <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="hasError">Data urodzin nie może być pusta</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Zarejestruj się</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/login">Strona logowania</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>