<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie firmy</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>
<body class="bg-dark">
<div class="container">
    <div class="card card-company mx-auto mt-5">
        <div class="card-header">Formularz dodawania nowej firmy</div>
        <div class="card-body">
<!--<form th:action="@{add}" th:object="${createCompany}" method="post">-->
    <!--Skócona nazwa firmy:<br/>-->
    <!--<input type="text" th:field="*{shortCompanyName}"/>-->
    <!--Pełna nazwa firmy:-->
    <!--<input type="text" th:field="*{fullCompanyName}"/><br/>-->
    <!--Wprowadź nip:-->
    <!--<input type="text" th:field="*{nip}"/><br/>-->
    <!--Wprowadź regon:-->
    <!--<input type="text" th:field="*{regon}"/><br/>-->
    <!--Podaj ulicę:-->
    <!--<input type="text" th:field="*{street}"/><br/>-->
    <!--Podaj kod pocztowy:-->
    <!--<input type="text" th:field="*{postCode}"/><br/>-->
    <!--Podaj miasto:-->
    <!--<input type="text" th:field="*{city}"/><br/>-->
    <!--Podaj kraj:-->
    <!--<input type="text" th:field="*{country}"/><br/>-->
    <!--Wprowadź numer telefonu:-->
    <!--<input type="text" th:field="*{telephoneNumber}"/><br/>-->
    <!--Wprowadź email:-->
    <!--<input type="text" th:field="*{email}"/><br/>-->
    <!--Czy płatnik vat:-->
    <!--<select th:field="*{vat}">-->
        <!--<option value="true">Tak</option>-->
        <!--<option value="false">Nie</option>-->
    <!--</select><br/>-->
    <!--Forma opodatkowania:-->
    <!--<select th:field="*{taxForm}">-->
        <!--<option value="liniowy">Liniowy</option>-->
        <!--<option value="ryczalt">Ryczałt</option>-->
        <!--<option value="karta">Karta podatkowa</option>-->
    <!--</select><br/>-->
    <!--<button type="submit">Zapisz</button>-->
<!--</form>-->
            <form th:action="@{add}" th:object="${createCompany}" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            <label for="exampleInputName">Skócona nazwa firmy:</label>
                            <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Wprowadź skróconą nazwe firmy" th:field="*{shortCompanyName}">
                            <!--<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{shortCompanyName}" class="hasError">...</span>-->
                        </div>
                        <div class="col-md-9">
                            <label for="exampleInputLastName">Pełna nazwa firmy:</label>
                            <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Wprowadź pełną nazwe firmy" th:field="*{fullCompanyName}">
                            <!--<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{fullCompanyName}" class="hasError">Imię nie może być puste</span>-->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <br/>
                        <span>Dane Rozliczeniowe:</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            <label for="nip">Nip:</label>
                            <input class="form-control" id="nip" type="text" placeholder="Wprowadź NIP" th:field="*{nip}">
                            <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="hasError">Hasło nie może być puste</span>-->
                        </div>
                        <div class="col-md-3">
                            <label for="regon">Regon:</label>
                            <input class="form-control" id="regon" type="text" placeholder="Wprowadź REGON" th:field="*{regon}">
                            <!--<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="hasError">Data urodzin nie może być pusta</span>-->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <label for="isVat">Czy firma jest płatnikiem VAT?</label>
                            <select th:field="*{vat}" id="isVat">
                                <option value="true">Tak</option>
                                <option value="false">Nie</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="taxForm">Forma opodatkowania:</label>
                            <select th:field="*{taxForm}" id="taxForm">
                                <option value="liniowy">Liniowy</option>
                                <option value="ryczalt">Ryczałt</option>
                                <option value="karta">Karta podatkowa</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="form-row">
                        <br/>
                        <span>Dane Kontaktowe:</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="street">Ulica:</label>
                            <input class="form-control" id="street" type="text" placeholder="Wprowadź ulicę" th:field="*{street}">
                            <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="hasError">Hasło nie może być puste</span>-->
                        </div>
                        <div class="col-md-2">
                            <label for="postcode">Kod pocztowy:</label>
                            <input class="form-control" id="postcode" type="text" placeholder="Wprowadź kod pocztowy" th:field="*{postCode}">
                            <!--<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="hasError">Data urodzin nie może być pusta</span>-->
                        </div>
                        <div class="col-md-3">
                            <label for="city">Miasto:</label>
                            <input class="form-control" id="city" type="text" placeholder="Wprowadź miasto" th:field="*{city}">
                            <!--<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="hasError">Data urodzin nie może być pusta</span>-->
                        </div>
                        <div class="col-md-3">
                            <label for="country">Kraj:</label>
                            <input class="form-control" id="country" type="text" placeholder="Wprowadź kraj" th:field="*{country}">
                            <!--<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="hasError">Data urodzin nie może być pusta</span>-->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-9">
                            <label for="email1">Adres e-mail:</label>
                            <input class="form-control" id="email1" type="text" aria-describedby="emailHelp" placeholder="Wprowadź e-mail" th:field="*{email}">
                            <!--<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="hasError">Email nie może być pusty</span>-->
                        </div>
                        <div class="col-md-3">
                            <label for="phone">Numer telefonu:</label>
                            <input class="form-control" id="phone" type="text" placeholder="Wprowadź numer telefonu" th:field="*{telephoneNumber}">
                            <!--<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="hasError">Data urodzin nie może być pusta</span>-->
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Zarejestruj się</button>

            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>
</body>
</html>